<!DOCTYPE html>
<html>
<head>
    <title>Аптека</title>
</head>
<body>
    <h1>Аптека</h1>
    <h2>Пошук ліків</h2>
    <form action="/search" method="post">
        <input type="text" name="medicine_name" placeholder="Назва ліків">
        <button type="submit">Пошук</button>
    </form>
    <h2>Покупка ліків</h2>
    <form action="/buy" method="post">
        <input type="text" name="medicine_name" placeholder="Назва ліків">
        <button type="submit">Придбати</button>
    </form>
</body>
</html>
